In [1]:
import pandas as pd


# Create a list to store the data split into rows
data_lines = []

# Read data from the file
with open('../data/raw-data/newsCorpora.csv', 'r', encoding='utf-8') as file:
    # Split the data into lines and store them in the list
    for line in file:
        data_lines.append(line.strip().split("\t"))

# Create dataframe from lines
df = pd.DataFrame(data_lines)

# Assign columns header
df.columns = ["ID", "TITLE", "URL", "PUBLISHER", "CATEGORY", "STORY", "HOSTNAME", "TIMESTAMP"]

df

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
0,1,"Fed official says weak data caused by weather,...",http://www.latimes.com/business/money/la-fi-mo...,Los Angeles Times,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.latimes.com,1394470370698
1,2,Fed's Charles Plosser sees high bar for change...,http://www.livemint.com/Politics/H2EvwJSK2VE6O...,Livemint,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.livemint.com,1394470371207
2,3,US open: Stocks fall after Fed official hints ...,http://www.ifamagazine.com/news/us-open-stocks...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371550
3,4,"Fed risks falling 'behind the curve', Charles ...",http://www.ifamagazine.com/news/fed-risks-fall...,IFA Magazine,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.ifamagazine.com,1394470371793
4,5,Fed's Plosser: Nasty Weather Has Curbed Job Gr...,http://www.moneynews.com/Economy/federal-reser...,Moneynews,b,ddUyU0VZz0BRneMioxUPQVP6sIxvM,www.moneynews.com,1394470372027
...,...,...,...,...,...,...,...,...
422932,422933,Surgeons to remove 4-year-old's rib to rebuild...,http://www.cbs3springfield.com/story/26378648/...,WSHM-TV,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.cbs3springfield.com,1409229190251
422933,422934,Boy to have surgery on esophagus after battery...,http://www.wlwt.com/news/boy-to-have-surgery-o...,WLWT Cincinnati,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.wlwt.com,1409229190508
422934,422935,Child who swallowed battery to have reconstruc...,http://www.newsnet5.com/news/local-news/child-...,NewsNet5.com,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.newsnet5.com,1409229190771
422935,422936,Phoenix boy undergoes surgery to repair throat...,http://www.wfsb.com/story/26368078/phoenix-boy...,WFSB,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.wfsb.com,1409229191071
422936,422937,Phoenix boy undergoes surgery to repair throat...,http://www.cbs3springfield.com/story/26368078/...,WSHM-TV,m,dpcLMoJD69UYMXMxaoEFnWql9YjQM,www.cbs3springfield.com,1409229191565

In [2]:
# Extract article from publishers of interest
selected_publishers = ["Reuters", "Huffington Post", "Businessweek", "Contactmusic.com", "Daily Mail"]
df = df[df["PUBLISHER"].isin(selected_publishers)].copy().reset_index(drop=True)
 
df

,ID,TITLE,URL,PUBLISHER,CATEGORY,STORY,HOSTNAME,TIMESTAMP
0,13,Europe reaches crunch point on banking union,http://in.reuters.com/article/2014/03/10/eu-ba...,Reuters,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,in.reuters.com,1394470501755
1,14,ECB FOCUS-Stronger euro drowns out ECB's messa...,http://in.reuters.com/article/2014/03/10/ecb-p...,Reuters,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,in.reuters.com,1394470501948
2,20,"Euro Anxieties Wane as Bunds Top Treasuries, S...",http://www.businessweek.com/news/2014-03-10/ge...,Businessweek,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.businessweek.com,1394470503148
3,21,Noyer Says Strong Euro Creates Unwarranted Eco...,http://www.businessweek.com/news/2014-03-10/no...,Businessweek,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,www.businessweek.com,1394470503366
4,30,REFILE-Bad loan triggers key feature in ECB ba...,http://in.reuters.com/article/2014/03/10/euroz...,Reuters,b,dPhGU51DcrolUIMxbRm0InaHGA2XM,in.reuters.com,1394470505070
...,...,...,...,...,...,...,...,...
13351,422819,UN: Ebola Could Eventually Infect 20000 People,http://www.huffingtonpost.com/2014/08/28/ebola...,Huffington Post,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.huffingtonpost.com,1409228423333
13352,422820,"Ebola toll tops 1550, continues to accelerate ...",http://in.reuters.com/article/2014/08/28/healt...,Reuters,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,in.reuters.com,1409228423827
13353,422821,"UPDATE 1-Ebola toll tops 1550, outbreak accele...",http://in.reuters.com/article/2014/08/28/healt...,Reuters,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,in.reuters.com,1409228424525
13354,422828,"Ebola Cases May Surpass 20000, WHO Says in Upd...",http://www.businessweek.com/news/2014-08-28/eb...,Businessweek,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.businessweek.com,1409228426943
13355,422838,Air France suspends flights to Ebola-hit Sierr...,http://www.dailymail.co.uk/travel/travel_news/...,Daily Mail,m,dhhnSHVoyA7ENBM3boDX_D_-3PV6M,www.dailymail.co.uk,1409228430383

In [3]:
# Select only the title and category for classification
df = df[["CATEGORY", "TITLE"]].copy()
df

      CATEGORY                                              TITLE
0            b       Europe reaches crunch point on banking union
1            b  ECB FOCUS-Stronger euro drowns out ECB's messa...
2            b  Euro Anxieties Wane as Bunds Top Treasuries, S...
3            b  Noyer Says Strong Euro Creates Unwarranted Eco...
4            b  REFILE-Bad loan triggers key feature in ECB ba...
...        ...                                                ...
13351        m     UN: Ebola Could Eventually Infect 20000 People
13352        m  Ebola toll tops 1550, continues to accelerate ...
13353        m  UPDATE 1-Ebola toll tops 1550, outbreak accele...
13354        m  Ebola Cases May Surpass 20000, WHO Says in Upd...
13355        m  Air France suspends flights to Ebola-hit Sierr...

[13356 rows x 2 columns]

In [4]:
def clean_sentence(sentence):    
    """
    Clean a sentence by removing special symbols, whitespace errors,
    and lower all characters.

    Parameters:
    sentence (str): The input sentence to be cleaned.

    Returns:
    str: The cleaned sentence.

    Note:
    The function is designed to be applied to article titles, which are assumed
    to be relatively clean already. Thus, it focuses on removing unnecessary 
    elements and normalizing the text for further processing. 
    """
    
    # Remove special symbols
    for symbol in ['*', '?', '%', '&', '$', '(', ')', '#', '^', '@', '!', '~', '-', 'â€”', '+', '=', ",", "'", '"',"/", ".", "-", ":", ";", ">", "<"]:
        if symbol in sentence:
            sentence = sentence.replace(symbol, ' ')
        
    # Convert all text to lowercase
    sentence = sentence.lower()

    # Remove whitespace errors
    sentence = ' '.join([word.strip() for word in sentence.split()])
    
    return sentence

# Apply sentence cleaning for title
df['TITLE'] = df['TITLE'].apply(clean_sentence)

# Shuffle the example 
df = df.sample(frac=1, random_state=42).reset_index(drop=True)

df

      CATEGORY                                              TITLE
0            b  ohio senate panel approves compromise on tesla...
1            b  us stocks s p 500 ends at record on housing hp...
2            e  beyonce changes lyrics to resentment internet ...
3            e  christina aguilera is expecting a baby daughte...
4            e       l wren scott l wren scott hated adopted life
...        ...                                                ...
13351        b  update 2 whiting to buy kodiak for 3 8 bln cre...
13352        e  emma stone in mime battle with jimmy fallon on...
13353        e  the amazing spider man 2 gets thumbs up are yo...
13354        b  asian stocks drop after worst weekly loss sinc...
13355        e  france s godard at 83 screens a 3d adieu at ca...

[13356 rows x 2 columns]

In [5]:
from sklearn.model_selection import train_test_split

train_df, temp_df = train_test_split(df, test_size=0.2, random_state=42)
valid_df, test_df = train_test_split(temp_df, test_size=0.5, random_state=42)

print("train set size: ", len(train_df))
print("valid set size: ", len(valid_df))
print("test set size: ", len(test_df))

# save all the sets to file
train_df[['CATEGORY', 'TITLE']].to_csv('../data/cleaned-data/train.txt', encoding='utf-8', sep='\t', index=False, header=False)
valid_df[['CATEGORY', 'TITLE']].to_csv('../data/cleaned-data/valid.txt', encoding='utf-8', sep='\t', index=False, header=False)
test_df[['CATEGORY', 'TITLE']].to_csv('../data/cleaned-data/test.txt', encoding='utf-8', sep='\t', index=False, header=False)

train set size:  10684
valid set size:  1336
test set size:  1336